<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile *ngFor="let dish of dishes">
        <img alt={{dish.name}} height="200px" src={{dish.image}}>
        <mat-grid-tile-footer>
          <!--this is the use of pipe.-->
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- *ngif Directive-->
  <!-- This execute only if selectedDish is not NULL -->

  <app-dishdetail></app-dishdetail>
</div>

